$primary-color: #fff;
$secondary-color: #f8a152;
$main-font: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: url("../img/body_bg.png") no-repeat top center;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section-title {
  font-family: $main-font;
  text-align: center;
  color: $primary-color;
  font-weight: bold;
  font-size: 36px;
}

.section-subtitle {
  font-family: $main-font;
  text-align: center;
  color: $primary-color;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

.line {
  width: 105px;
  height: 5px;
  background-color: $secondary-color;
  margin: 25px auto 0;
}

.btn {
  flex: 0 0 285px;
  height: 70px;
  line-height: 70px;
  background: linear-gradient(270deg, #F2A947 0%, #FE975D 100%);
  box-shadow: 0 4px 0 #FC7D3E;
  border-radius: 5px;
  text-align: center;
  transition: .2s;
  position: relative;
  z-index: 2;

  &:hover {
    transform: scale(1.1);
    transition: .2s;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: $main-font;
    font-weight: bold;
    font-size: 24px;
    color: #161616;
  }
}

.sale {
  width: 105px;
  height: 105px;
  background: linear-gradient(270deg, #FF7629 -17.12%, #F2A948 119.37%);
  text-align: center;
  line-height: 105px;
  border-radius: 50%;
  position: absolute;

  &-value {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
}

@mixin flex() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  padding: 25px 0;

  &--items {
    @include flex();
    justify-content: space-between;
  }

  &--item {
    @include flex();

    &:first-child {
      flex: 0 0 365px;
    }

    &:nth-child(2) {
      flex: 0 0 160px;
    }

    &:last-child {
      flex: 0 0 250px;

      p {
        text-align: end;
      }
    }

    .logo {
      font-family: $main-font;
      font-weight: bold;
      color: $primary-color;
      font-size: 24px;
      text-transform: uppercase;
    }

    .separator {
      width: 1px;
      height: 50px;
      background-color: $primary-color;
      margin: 0 15px;
    }

    p {
      color: $primary-color;
      font-family: $main-font;
      font-size: 14px;
      font-weight: 100;

      span {
        color: $secondary-color;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .phone-wrapper {
      width: 40px;
      height: 40px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      @include flex();
      justify-content: center;
      margin-left: 25px;
      cursor: pointer;
      transition: .2s;

      svg {
        path {
          fill: $secondary-color;
          transition: .2s;
        }
      }

      &:hover {
        background-color: $secondary-color;
        border-color: transparent;
        transition: .2s;

        svg {
          path {
            fill: $primary-color;
            transition: .2s;
          }
        }
      }
    }
  }
}

.presentation {
  padding: 20px 0 100px;

  &--content {
    @include flex();

    &-item {
      position: relative;

      &:first-child {
        flex: 0 0 45%;
      }

      &:last-child {
        flex: 0 0 55%;
      }

      .main-title {
        font-size: 48px;
        color: $secondary-color;
        font-weight: bold;
        font-family: $main-font;
        line-height: 35px;

        span {
          font-size: 27px;
          color: $primary-color;
          font-weight: 300;
        }
      }

      .subtitle {
        color: $primary-color;
        font-size: 18px;
        font-weight: 300;
        margin-top: 35px;
        font-family: $main-font;
      }

      .btn-wrapper {
        @include flex();
        margin-top: 95px;

        .flag {
          border-bottom: 70px solid rgba(0, 0, 0, 0.72);
          border-left: 30px solid transparent;
          transform: rotate(-180deg);
          flex: 0 0 220px;
          position: relative;

          .prices-text {
            color: $primary-color;
            font-family: $main-font;
            font-size: 18px;
            font-weight: 300;
            position: absolute;
            transform: rotate(180deg) translate(10%, -30%);
          }

          .old-price {
            text-decoration: line-through;
          }

          .new-price {
            color: $secondary-color;
            font-weight: bold;
            margin-left: 7px;
          }
        }
      }

      .main-image {
        margin-left: 40px;
      }

      .sale {
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
      }

      .hero-image {
        position: absolute;
        top: 8%;
        right: -25%;
      }
    }
  }
}

.benefits {
  padding: 15px 0 65px;

  &-item {
    flex: 0 0 295px;
  }

  &-items {
    @include flex();
    justify-content: space-between;
    margin-top: 65px;

    .title-wrapper {
      display: flex;

      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $secondary-color;
        margin-right: 10px;
      }

      .title {
        color: $primary-color;
        font-family: $main-font;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .benefits-text {
      color: $primary-color;
      font-weight: 300;
      font-family: $main-font;
      margin-top: 10px;
    }
  }
}

.set {
  padding: 65px 0 70px;

  &-items {
    @include flex();
    margin-top: 75px;

    &-image {
      flex: 0 0 55%;
    }

    &-info {
      flex: 0 0 45%;
    }

    &-list {

      li + li {
        margin-top: 45px;
      }

      li {
        p {
          font-size: 18px;
          font-weight: 300;
          color: $primary-color;
          font-family: $main-font;
        }
      }
    }

    .list-title {
      font-family: $main-font;
      color: $primary-color;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .btn {
    max-width: 280px;
    margin: 65px auto 0;
  }
}

.gallery {
  padding: 70px 0 30px;
  position: relative;

  .phantom {
    position: absolute;
    top: 90px;
    left: 135px;
  }

  &-items {
    @include flex();
    margin-top: 40px;

    &-item {
      flex: 0 0 33.33%;
      margin-top: 35px;
      filter: drop-shadow(0px 9px 15px rgba(0, 0, 0, 0.63));
    }
  }
}

.form-section {
  padding: 65px 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 2.26%, rgba(0, 0, 0, 0.5) 49.6%, rgba(0, 0, 0, 0) 91.23%);

  &-items {
    @include flex();

    .form-item {
      flex: 0 0 50%;
      padding: 0 15px;
      position: relative;

      .sale {
        top: 50%;
        transform: translate(0 -50%);
        right: 40px;
      }

      &-info {
        @include flex();
        justify-content: space-between;
      }

      .form {
        max-width: 330px;
        margin: 0 auto;

        &-sale {
          font-weight: 300;
          font-size: 18px;
          color: $primary-color;
          font-family: $main-font;

          span {
            font-weight: bold;
            color: $secondary-color;
          }
        }

        &-prices {
          font-weight: 300;
          color: $primary-color;
          font-family: $main-font;

          .old-price {
            span {
              text-decoration: line-through;
            }
          }

          .new-price {
            font-size: 18px;

            span {
              color: $secondary-color;
              font-weight: bold;
            }
          }
        }

        &-title {
          font-weight: bold;
          color: $primary-color;
          font-family: $main-font;
          font-size: 36px;
          text-transform: uppercase;
          margin: 25px 0;
        }

        form {
          input,
          button {
            outline: none;
            border: none;
            width: 100%;
          }

          input {
            padding: 12px 22px;
            background-color: #fff;
            margin-bottom: 15px;
          }

          button {
            font-family: $main-font;
            font-weight: bold;
            font-size: 24px;
            color: #161616;
            cursor: pointer;
            margin-top: 10px;
          }
        }

        .timer {
          margin-top: 15px;

          &-title {
            text-align: center;
            font-weight: 300;
            font-family: $main-font;
            color: $primary-color;
            margin-bottom: 15px;
          }

          &-wrapper {
            @include flex();

            width: 230px;
            margin: 0 auto;
            justify-content: space-between;
            position: relative;

            &:after,
            &:before {
              content: ':';
              position: absolute;
              font-family: $main-font;
              color: $primary-color;
              top: 7px;
            }

            &:after {
              left: 70px;
            }

            &:before {
              right: 70px;
            }
          }

          &-value-box  {
            width: 60px;
          }

          &-value {
            font-family: $main-font;
            color: $secondary-color;
            font-weight: bold;
            position: relative;
            letter-spacing: 22px;
            text-indent: 10px;
            line-height: 35px;

            &:before,
            &:after {
              content: '';
              position: absolute;
              border: 1px solid #FFFFFF;
              box-sizing: border-box;
              border-radius: 5px;
              width: 28px;
              height: 35px;
              top: 0;
            }

            &:before {
              left: 0;
            }

            &:after {
              right: 0;
            }
          }

          &-text {
            text-align: center;
            color: $primary-color;
            font-family: $main-font;
            font-weight: 300;
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.reviews {
  padding: 65px 0 60px;
  position: relative;

  &-wrapper {
    margin-top: 15px;

    @include flex();
    justify-content: space-between;
  }

  &-item {
    position: relative;
    padding: 20px 50px 45px;
    background: #151515;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.69);
    flex: 0 0 550px;
    height: 200px;
    margin-top: 60px;
    z-index: 2;

    .author {
      @include flex();

      color: $primary-color;
      font-family: $main-font;

      &-name {
        font-weight: 500;
        font-size: 18px;
        position: relative;

        .circle {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 5px;
          background-color: $secondary-color;
          left: -25px;
          box-shadow: 0 0 5px rgba(250, 145, 85, 0.49);
        }
      }

      &-date {
        font-size: 14px;
        font-weight: 300;
        margin-left: 20px;
      }

      &-text {
        margin-top: 25px;
        color: $primary-color;
        font-family: $main-font;
        font-weight: 300;
      }
    }

    .quote {
      position: absolute;
      bottom: -60px;
      right: 60px;
      font-weight: 300;
      font-size: 96px;
      font-family: $main-font;
      color: #000;
    }
  }

  .phantom {
    position: absolute;
    right: 90px;
    top: 150px;
  }
}

.rules {
  padding: 65px 0 115px;
  position: relative;

  &-wrapper {
    @include flex()
  }

  &-item {
    text-align: center;
    flex: 0 0 50%;
    margin-top: 80px;
    color: $primary-color;

    p {
      font-weight: 300;
      font-family: $main-font;
    }
  }

  &-title {
    font-weight: 500;
    font-size: 18px;
    font-family: $main-font;
    margin-top: 15px;
  }

  .phantom {
    position: absolute;
    left: 225px;
    top: -220px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 990px;
  }

  .presentation {
    overflow: hidden;
  }

  .presentation--content-item {

    .main-title {
      font-size: 32px;

      span {
        font-size: 20px;
      }
    }

    .subtitle {
      font-size: 16px;
    }

    .main-image {
      margin: 0;
    }
  }

  .set-items {
    .item {
      padding: 0 20px;
    }
  }

  .gallery-items-item {
    padding: 15px;
  }

  .reviews-item {
    flex: 0 0 470px;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-size: cover;
  }

  .container {
    max-width: 750px;
  }

  .section-title {
    font-size: 28px;
  }

  .header--item:last-child {
    flex: 0 0 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .presentation--content-item {
    .main-title span {
      font-size: 18px;
    }

    .hero-image {
      top: 0%;
      right: -50%;
    }

    .sale {
      left: -25px;
    }
  }

  .benefits-items {
    justify-content: center;

    .benefits-item {
      flex: 0 0 50%;
      padding: 15px;
    }
  }

  .reviews-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 0 10px;
  }

  .header {
    padding: 10px 0;

    .header--item {
      &:first-child {
        flex: 1 1;
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        flex: 0 0 40px;
        margin-top: 0;

        p {
          display: none;
        }
      }

      .logo {
        font-size: 16px;
      }

      .separator {
        margin: 0 10px;
      }

      p {
        font-size: 10px;
      }

      .phone-wrapper {
        margin: 0;
        width: 30px;
        height: 30px;

        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .sale {
    width: 60px;
    height: 60px;
    line-height: 60px;

    &-value {
      font-size: 18px;
    }
  }

  .section-title {
    font-size: 18px;
  }

  .section-subtitle {
    font-size: 12px;
  }

  .presentation {
    padding: 20px 0 55px;
    position: relative;

    &--content-item {
      &:first-child {
        flex: 0 0 100%;
        text-align: center;
      }

      &:last-child {
        position: absolute;
        top: 140px;
      }

      .main-title {
        font-size: 28px;
        line-height: 18px;

        span {
          font-size: 16px;
        }
      }

      .subtitle {
        font-size: 12px;
        margin-top: 20px;
      }

      .btn-wrapper {
        margin-top: 280px;
      }

      .main-image {
        width: 230px;
      }

      .hero-image {
        width: 165px;
        right: -45%;
      }

      .sale {
        top: 65%;
        transform: translate(25px, -50%);
      }

      .btn {
        flex: 0 0 150px;
        height: 40px;
        line-height: 40px;

        a {
          font-size: 18px;
        }
      }

      .btn-wrapper {
        justify-content: center;

        .flag {
          flex: 0 0 150px;
          border-bottom: 40px solid rgba(0, 0, 0, 0.72);

          .prices-text {
            font-size: 13px;
            transform: rotate(180deg) translate(5%, -25%);
          }
        }
      }
    }
  }

  .benefits {
    padding: 15px 0;

    &-items {
      margin-top: 30px;
    }

    .benefits-items .benefits-item {
      flex: 0 0 100%;

      .title-wrapper {
        .title {
          font-size: 14px;
        }
      }

      .benefits-text {
        font-size: 12px;
      }
    }
  }

  .set {
    padding: 20px 0;

    .set-items {
      &-image,
      &-info {
        flex: 0 0 100%;
      }

      .list-title {
        font-size: 14px;
        margin-bottom: 5px;
      }

      &-list {
        li {
          p {
            font-size: 12px;
          }
        }
      }
    }

    .btn {
      max-width: 150px;
      height: 50px;
      line-height: 50px;
      margin-top: 40px;

      a {
        font-size: 16px;
      }
    }
  }

  .gallery-items-item {
    flex: 0 0 100%;
    margin-top: 15px;
  }

  .form-section-items .form-item {
    flex: 0 0 100%;

    .form {
      padding-top: 20px;

      &-title {
        font-size: 24px;
        text-align: center;
      }

      &-sale {
        font-size: 14px;
      }

      .old-price {
        font-size: 14px;
      }

      .new-price {
        font-size: 16px;
      }
    }
  }

  .reviews {
    padding: 20px 0;

    &-item {
      flex: 0 0 100%;
      height: auto;
      margin-top: 20px;
      padding: 20px 30px;

      .author {
        &-name {
          font-size: 14px;

          .circle {
            left: -20px;
          }
        }

        &-date {
          font-size: 12px;
        }

        &-text {
          font-size: 12px;
        }
      }

      .quote {
        display: none;
      }
    }
  }

  .rules {
    padding: 20px 0;

    &-item {
      flex: 0 0 100%;
      margin-top: 30px;

      p {
        font-size: 14px;
      }
    }

    &-title {
      font-size: 18px;
    }
  }

  .last {
    .presentation--content-item:last-child {
      top: 150px;
    }
  }

  .phantom {
    display: none;
  }
}




