* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: url("../img/body_bg.png") no-repeat top center;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
}

.section-subtitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

.line {
  width: 105px;
  height: 5px;
  background-color: #f8a152;
  margin: 25px auto 0;
}

.btn {
  flex: 0 0 285px;
  height: 70px;
  line-height: 70px;
  background: linear-gradient(270deg, #F2A947 0%, #FE975D 100%);
  box-shadow: 0 4px 0 #FC7D3E;
  border-radius: 5px;
  text-align: center;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #161616;
}

.sale {
  width: 105px;
  height: 105px;
  background: linear-gradient(270deg, #FF7629 -17.12%, #F2A948 119.37%);
  text-align: center;
  line-height: 105px;
  border-radius: 50%;
  position: absolute;
}
.sale-value {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.header {
  padding: 25px 0;
}
.header--items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header--item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header--item:first-child {
  flex: 0 0 365px;
}
.header--item:nth-child(2) {
  flex: 0 0 160px;
}
.header--item:last-child {
  flex: 0 0 250px;
}
.header--item:last-child p {
  text-align: end;
}
.header--item .logo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.header--item .separator {
  width: 1px;
  height: 50px;
  background-color: #fff;
  margin: 0 15px;
}
.header--item p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.header--item p span {
  color: #f8a152;
  font-weight: bold;
  font-size: 18px;
}
.header--item .phone-wrapper {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.header--item .phone-wrapper svg path {
  fill: #f8a152;
  transition: 0.2s;
}
.header--item .phone-wrapper:hover {
  background-color: #f8a152;
  border-color: transparent;
  transition: 0.2s;
}
.header--item .phone-wrapper:hover svg path {
  fill: #fff;
  transition: 0.2s;
}

.presentation {
  padding: 20px 0 100px;
}
.presentation--content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.presentation--content-item {
  position: relative;
}
.presentation--content-item:first-child {
  flex: 0 0 45%;
}
.presentation--content-item:last-child {
  flex: 0 0 55%;
}
.presentation--content-item .main-title {
  font-size: 48px;
  color: #f8a152;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}
.presentation--content-item .main-title span {
  font-size: 27px;
  color: #fff;
  font-weight: 300;
}
.presentation--content-item .subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
}
.presentation--content-item .btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 95px;
}
.presentation--content-item .btn-wrapper .flag {
  border-bottom: 70px solid rgba(0, 0, 0, 0.72);
  border-left: 30px solid transparent;
  transform: rotate(-180deg);
  flex: 0 0 220px;
  position: relative;
}
.presentation--content-item .btn-wrapper .flag .prices-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  transform: rotate(180deg) translate(10%, -30%);
}
.presentation--content-item .btn-wrapper .flag .old-price {
  text-decoration: line-through;
}
.presentation--content-item .btn-wrapper .flag .new-price {
  color: #f8a152;
  font-weight: bold;
  margin-left: 7px;
}
.presentation--content-item .main-image {
  margin-left: 40px;
}
.presentation--content-item .sale {
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}
.presentation--content-item .hero-image {
  position: absolute;
  top: 8%;
  right: -25%;
}

.benefits {
  padding: 15px 0 65px;
}
.benefits-item {
  flex: 0 0 295px;
}
.benefits-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}
.benefits-items .title-wrapper {
  display: flex;
}
.benefits-items .title-wrapper .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8a152;
  margin-right: 10px;
}
.benefits-items .title-wrapper .title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.benefits-items .benefits-text {
  color: #fff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.set {
  padding: 65px 0 70px;
}
.set-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 75px;
}
.set-items-image {
  flex: 0 0 55%;
}
.set-items-info {
  flex: 0 0 45%;
}
.set-items-list li + li {
  margin-top: 45px;
}
.set-items-list li p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.set-items .list-title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.set .btn {
  max-width: 280px;
  margin: 65px auto 0;
}

.gallery {
  padding: 70px 0 30px;
  position: relative;
}
.gallery .phantom {
  position: absolute;
  top: 90px;
  left: 135px;
}
.gallery-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.gallery-items-item {
  flex: 0 0 33.33%;
  margin-top: 35px;
  filter: drop-shadow(0px 9px 15px rgba(0, 0, 0, 0.63));
}

.form-section {
  padding: 65px 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 2.26%, rgba(0, 0, 0, 0.5) 49.6%, rgba(0, 0, 0, 0) 91.23%);
}
.form-section-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-section-items .form-item {
  flex: 0 0 50%;
  padding: 0 15px;
  position: relative;
}
.form-section-items .form-item .sale {
  top: 50%;
  transform: translate(0 -50%);
  right: 40px;
}
.form-section-items .form-item-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-section-items .form-item .form {
  max-width: 330px;
  margin: 0 auto;
}
.form-section-items .form-item .form-sale {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.form-section-items .form-item .form-sale span {
  font-weight: bold;
  color: #f8a152;
}
.form-section-items .form-item .form-prices {
  font-weight: 300;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.form-section-items .form-item .form-prices .old-price span {
  text-decoration: line-through;
}
.form-section-items .form-item .form-prices .new-price {
  font-size: 18px;
}
.form-section-items .form-item .form-prices .new-price span {
  color: #f8a152;
  font-weight: bold;
}
.form-section-items .form-item .form-title {
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin: 25px 0;
}
.form-section-items .form-item .form form input,
.form-section-items .form-item .form form button {
  outline: none;
  border: none;
  width: 100%;
}
.form-section-items .form-item .form form input {
  padding: 12px 22px;
  background-color: #fff;
  margin-bottom: 15px;
}
.form-section-items .form-item .form form button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #161616;
  cursor: pointer;
  margin-top: 10px;
}
.form-section-items .form-item .form .timer {
  margin-top: 15px;
}
.form-section-items .form-item .form .timer-title {
  text-align: center;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 15px;
}
.form-section-items .form-item .form .timer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 230px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}
.form-section-items .form-item .form .timer-wrapper:after, .form-section-items .form-item .form .timer-wrapper:before {
  content: ":";
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #fff;
  top: 7px;
}
.form-section-items .form-item .form .timer-wrapper:after {
  left: 70px;
}
.form-section-items .form-item .form .timer-wrapper:before {
  right: 70px;
}
.form-section-items .form-item .form .timer-value-box {
  width: 60px;
}
.form-section-items .form-item .form .timer-value {
  font-family: "Roboto", sans-serif;
  color: #f8a152;
  font-weight: bold;
  position: relative;
  letter-spacing: 22px;
  text-indent: 10px;
  line-height: 35px;
}
.form-section-items .form-item .form .timer-value:before, .form-section-items .form-item .form .timer-value:after {
  content: "";
  position: absolute;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 28px;
  height: 35px;
  top: 0;
}
.form-section-items .form-item .form .timer-value:before {
  left: 0;
}
.form-section-items .form-item .form .timer-value:after {
  right: 0;
}
.form-section-items .form-item .form .timer-text {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}

.reviews {
  padding: 65px 0 60px;
  position: relative;
}
.reviews-wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews-item {
  position: relative;
  padding: 20px 50px 45px;
  background: #151515;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.69);
  flex: 0 0 550px;
  height: 200px;
  margin-top: 60px;
  z-index: 2;
}
.reviews-item .author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.reviews-item .author-name {
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.reviews-item .author-name .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  background-color: #f8a152;
  left: -25px;
  box-shadow: 0 0 5px rgba(250, 145, 85, 0.49);
}
.reviews-item .author-date {
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
}
.reviews-item .author-text {
  margin-top: 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.reviews-item .quote {
  position: absolute;
  bottom: -60px;
  right: 60px;
  font-weight: 300;
  font-size: 96px;
  font-family: "Roboto", sans-serif;
  color: #000;
}
.reviews .phantom {
  position: absolute;
  right: 90px;
  top: 150px;
}

.rules {
  padding: 65px 0 115px;
  position: relative;
}
.rules-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.rules-item {
  text-align: center;
  flex: 0 0 50%;
  margin-top: 80px;
  color: #fff;
}
.rules-item p {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.rules-title {
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
.rules .phantom {
  position: absolute;
  left: 225px;
  top: -220px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 990px;
  }

  .presentation {
    overflow: hidden;
  }

  .presentation--content-item .main-title {
    font-size: 32px;
  }
  .presentation--content-item .main-title span {
    font-size: 20px;
  }
  .presentation--content-item .subtitle {
    font-size: 16px;
  }
  .presentation--content-item .main-image {
    margin: 0;
  }

  .set-items .item {
    padding: 0 20px;
  }

  .gallery-items-item {
    padding: 15px;
  }

  .reviews-item {
    flex: 0 0 470px;
  }
}
@media screen and (max-width: 992px) {
  body {
    background-size: cover;
  }

  .container {
    max-width: 750px;
  }

  .section-title {
    font-size: 28px;
  }

  .header--item:last-child {
    flex: 0 0 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .presentation--content-item .main-title span {
    font-size: 18px;
  }
  .presentation--content-item .hero-image {
    top: 0%;
    right: -50%;
  }
  .presentation--content-item .sale {
    left: -25px;
  }

  .benefits-items {
    justify-content: center;
  }
  .benefits-items .benefits-item {
    flex: 0 0 50%;
    padding: 15px;
  }

  .reviews-wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 10px;
  }

  .header {
    padding: 10px 0;
  }
  .header .header--item:first-child {
    flex: 1 1;
  }
  .header .header--item:nth-child(2) {
    display: none;
  }
  .header .header--item:last-child {
    flex: 0 0 40px;
    margin-top: 0;
  }
  .header .header--item:last-child p {
    display: none;
  }
  .header .header--item .logo {
    font-size: 16px;
  }
  .header .header--item .separator {
    margin: 0 10px;
  }
  .header .header--item p {
    font-size: 10px;
  }
  .header .header--item .phone-wrapper {
    margin: 0;
    width: 30px;
    height: 30px;
  }
  .header .header--item .phone-wrapper svg {
    width: 10px;
    height: 10px;
  }

  .sale {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .sale-value {
    font-size: 18px;
  }

  .section-title {
    font-size: 18px;
  }

  .section-subtitle {
    font-size: 12px;
  }

  .presentation {
    padding: 20px 0 55px;
    position: relative;
  }
  .presentation--content-item:first-child {
    flex: 0 0 100%;
    text-align: center;
  }
  .presentation--content-item:last-child {
    position: absolute;
    top: 140px;
  }
  .presentation--content-item .main-title {
    font-size: 28px;
    line-height: 18px;
  }
  .presentation--content-item .main-title span {
    font-size: 16px;
  }
  .presentation--content-item .subtitle {
    font-size: 12px;
    margin-top: 20px;
  }
  .presentation--content-item .btn-wrapper {
    margin-top: 280px;
  }
  .presentation--content-item .main-image {
    width: 230px;
  }
  .presentation--content-item .hero-image {
    width: 165px;
    right: -45%;
  }
  .presentation--content-item .sale {
    top: 65%;
    transform: translate(25px, -50%);
  }
  .presentation--content-item .btn {
    flex: 0 0 150px;
    height: 40px;
    line-height: 40px;
  }
  .presentation--content-item .btn a {
    font-size: 18px;
  }
  .presentation--content-item .btn-wrapper {
    justify-content: center;
  }
  .presentation--content-item .btn-wrapper .flag {
    flex: 0 0 150px;
    border-bottom: 40px solid rgba(0, 0, 0, 0.72);
  }
  .presentation--content-item .btn-wrapper .flag .prices-text {
    font-size: 13px;
    transform: rotate(180deg) translate(5%, -25%);
  }

  .benefits {
    padding: 15px 0;
  }
  .benefits-items {
    margin-top: 30px;
  }
  .benefits .benefits-items .benefits-item {
    flex: 0 0 100%;
  }
  .benefits .benefits-items .benefits-item .title-wrapper .title {
    font-size: 14px;
  }
  .benefits .benefits-items .benefits-item .benefits-text {
    font-size: 12px;
  }

  .set {
    padding: 20px 0;
  }
  .set .set-items-image, .set .set-items-info {
    flex: 0 0 100%;
  }
  .set .set-items .list-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .set .set-items-list li p {
    font-size: 12px;
  }
  .set .btn {
    max-width: 150px;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
  }
  .set .btn a {
    font-size: 16px;
  }

  .gallery-items-item {
    flex: 0 0 100%;
    margin-top: 15px;
  }

  .form-section-items .form-item {
    flex: 0 0 100%;
  }
  .form-section-items .form-item .form {
    padding-top: 20px;
  }
  .form-section-items .form-item .form-title {
    font-size: 24px;
    text-align: center;
  }
  .form-section-items .form-item .form-sale {
    font-size: 14px;
  }
  .form-section-items .form-item .form .old-price {
    font-size: 14px;
  }
  .form-section-items .form-item .form .new-price {
    font-size: 16px;
  }

  .reviews {
    padding: 20px 0;
  }
  .reviews-item {
    flex: 0 0 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px 30px;
  }
  .reviews-item .author-name {
    font-size: 14px;
  }
  .reviews-item .author-name .circle {
    left: -20px;
  }
  .reviews-item .author-date {
    font-size: 12px;
  }
  .reviews-item .author-text {
    font-size: 12px;
  }
  .reviews-item .quote {
    display: none;
  }

  .rules {
    padding: 20px 0;
  }
  .rules-item {
    flex: 0 0 100%;
    margin-top: 30px;
  }
  .rules-item p {
    font-size: 14px;
  }
  .rules-title {
    font-size: 18px;
  }

  .last .presentation--content-item:last-child {
    top: 150px;
  }

  .phantom {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
